// 主题: 暗黑
/*
  bg: background;
  fc: font字体颜色;
  $jt: 箭头颜色
*/
$dark: (
  --qui-BG-1: #191919,
  --qui-BG-2: #191919,
  --qui-BG-ED: #ededed,
  --qui-BG-HIGH-LIGHT: #1878f3,
  --qui-BG-BTN: #1878f3,
  --qui-BG-BTN-GRAY: #1878f3,
  --qui-BG-IT: #f6f6f6,
  --qui-FC-333: rgba(255, 255, 255, 0.8),
  --qui-FC-777: rgba(255, 255, 255, 0.86),
  --qui-FC-AAA: rgba(255, 255, 255, 0.5),
  --qui-FC-DDD: rgba(255, 255, 255, 0.3),
  --qui-FC-FFF: #fff,
  --qui-FC-C6: #c6c6c6,
  --qui-FC-GRAY: #f9fafc,
  --qui-FC-B5: #b5b5b5,
  --qui-FC-CCC: #ccc,
  --qui-JT-B5: #b5b5b5,
  --qui-BOR-ED: #ededed,
  --qui-LINK: #004798,
  --qui-RED: #fa5151,
  --qui-MAIN: #1878f3
);
