// 主题: 默认
/*
  bg: background;
  fc: font字体颜色;
  $jt: 箭头颜色
*/
$light: (
  --qui-BG-1: #f9fafc,
  --qui-BG-2: #fff,
  --qui-BG-ED: #ededed,
  --qui-BG-HIGH-LIGHT: #1878f3,
  --qui-BG-BTN: #1878f3,
  --qui-BG-BTN-GRAY: #f9fafc,
  --qui-BG-IT:#f6f6f6,

  --qui-FC-333: #333,
  --qui-FC-777: #777,
  --qui-FC-AAA: #aaa,
  --qui-FC-DDD: #ddd,
  --qui-FC-B5: #b5b5b5,
  --qui-FC-FFF: #fff,
  --qui-FC-C6:#c6c6c6,
  --qui-FC-7D7979:#7d7979,

  --qui-JT-B5: #b5b5b5,

  --qui-BOR-ED: #ededed,

  --qui-LINK: #004798,
  --qui-RED: #fa5151,
  --qui-MAIN: #1878f3,
);