@font-face {
  font-family: 'quiicons'; /* project id 1741858 */
  src: url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.eot');
  src: url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1741858_wana1xqvyat.svg#quiicons') format('svg');
}

.qui-icon {
  position: relative;
  /* stylelint-disable-next-line */
  font: 28rpx 'quiicons';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unfold:before {
  content: '\e68b';
}

.icon-fold:before {
  content: '\e68a';
}

.icon-loading2:before {
  content: '\e689';
}

.icon-loading1:before {
  content: '\e688';
}

.icon-loading:before {
  content: '\e687';
}

.icon-rmb:before {
  content: '\e684';
}

.icon-percent:before {
  content: '\e683';
}

.icon-success:before {
  content: '\e682';
}

.icon-fail:before {
  content: '\e681';
}

.icon-mine:before {
  content: '\e678';
}

.icon-search:before {
  content: '\e677';
}

.icon-folding-r:before {
  content: '\e675';
}

.icon-fill:before {
  content: '\e674';
}

.icon-wx-pay:before {
  content: '\e673';
}

.icon-wallet-pay:before {
  content: '\e672';
}

.icon-reward:before {
  content: '\e670';
}

.icon-pay:before {
  content: '\e66f';
}

.icon-management:before {
  content: '\e66e';
}

.icon-image:before {
  content: '\e66d';
}

.icon-comments:before {
  content: '\e66b';
}

.icon-collection:before {
  content: '\e66a';
}
.icon-collectioned:before {
  content: '\e68f';
}

.icon-waring:before {
  content: '\e669';
}

.icon-follow:before {
  content: '\e663';
}

.icon-each-follow:before {
  content: '\e662';
}

.icon-cancel-follow:before {
  content: '\e661';
}

.icon-selected:before {
  content: '\e660';
}

.icon-play:before {
  content: '\e65e';
}

.icon-oval:before {
  content: '\e65c';
}

.icon-expression:before {
  content: '\e65b';
}

.icon-call:before {
  content: '\e65a';
}

.icon-add:before {
  content: '\e659';
}

.icon-delete:before {
  content: '\e658';
}

.icon-wx-friends:before {
  content: '\e657';
}

.icon-word:before {
  content: '\e656';
}

.icon-video:before {
  content: '\e655';
}

.icon-share1:before {
  content: '\e654';
}

.icon-share:before {
  content: '\e653';
}

.icon-screen:before {
  content: '\e652';
}

.icon-publish:before {
  content: '\e651';
}

.icon-poster:before {
  content: '\e650';
}

.icon-post:before {
  content: '\e64f';
}

.icon-message:before {
  content: '\e64e';
}

.icon-message1:before {
  content: '\e68d';
}

.icon-link:before {
  content: '\e64c';
}

.icon-like:before {
  content: '\e64b';
}
.icon-liked:before {
  content: '\e68e';
}

.icon-img:before {
  content: '\e64a';
}

.icon-home:before {
  content: '\e647';
}

.icon-close:before {
  content: '\e601';
}
.icon-wxPay:before {
  content: '\e691';
}
.icon-walletPay:before {
  content: '\e690';
}
.icon-noData:before {
  content: '\e602';
}
