// 定义一些主题颜色变量时，一定要事先和设计一起订好规范，比如分维度进行拆分：
// 背景色，字体颜色，边框颜色
// 而且不同的主题间的变量要统一

// 主题 map 变量用于遍历
/* stylelint-disable */
$themes: (
  // 默认主题
  default: (
    // 背景颜色
    bg-color-primary: #fff,
    // 文本颜色
    txt-color-primary: #000,
    // 边框颜色
    // 警告颜色
    // 链接颜色
  ),
  // 暗黑主题
  dark: (
    // 背景颜色
    bg-color-primary: #222,
    // 文本颜色
    txt-color-primary: #fff,
    // 边框颜色
    // 警告颜色
    // 链接颜色
  )
);
