// variable
@import './variable/global.scss';
@import './variable/color.scss'; // 里面包含主题样式
@import '@/styles/base/theme/fn.scss';

page,
body {
  font: $fg-f28 $font-family 1.6;
  background-color: --color(--qui-BG-2);
}

//小程序原生组件--修改
//多选框
checkbox .wx-checkbox-input {
  width: 44rpx;
  height: 44rpx;
  margin: 0;
  border-radius: 50rpx;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: --color(--qui-BG-HIGH-LIGHT);
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked:before {
  color: --color(--qui-FC-FFF);
}

//日历控件修改
.uni-picker-container .uni-picker-header {
  position: absolute;
  bottom: 0;
  z-index: 100;
  height: 100rpx;
  background: #fff;
}
.uni-picker-container .uni-picker-action {
  width: 50%;
  line-height: 100rpx;
  text-align: center;
}
.uni-picker-action-cancel {
  color: #aaa;
  border-right: 2rpx solid #ddd;
}
.uni-picker-container .uni-picker-action.uni-picker-action-confirm {
  color: #333;
}
.uni-picker-container .uni-picker-item,
.uni-picker-container .uni-picker-view-indicator {
  height: 100rpx;
  font-size: 32rpx;
  line-height: 100rpx;
}
.uni-picker-container .uni-picker-item {
  background: #f8f8f8;
}
.uni-picker-container .uni-picker-content {
  height: 300rpx;
}
.uni-picker-container .uni-picker {
  padding-bottom: 110rpx;
  background-color: #f8f8f8;
}
.uni-mask {
  background: rgba(0, 0, 0, .4);
}