// variable
@import './variable/global.scss';
@import './variable/color.scss'; // 里面包含主题样式

page,
body {
  font: $fg-f28 $font-family 1.6;
  background-color: --color(--qui-BG-2);
}

//小程序原生组件--修改
//多选框
checkbox .wx-checkbox-input {
  width: 44rpx;
  height: 44rpx;
  margin: 0;
  border-radius: 50rpx;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #007aff;
}
checkbox .wx-checkbox-input.wx-checkbox-input-checked:before {
  color: #fff;
}
